.products-by-category {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 450px) {
	.products-by-category {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 900px) and (min-width: 450px) {
	.products-by-category {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
