.colorRed {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: red;
    margin-left: 5px;
    color: red;
    cursor: grab;
}

.colorRedSelected{
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: red;
    margin-left: 5px;
    color: red;
    cursor: grab;
    border:5px solid paleturquoise;
}

.colorGreen {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: Green;
    color: Green;
    margin-left: 5px;
    cursor: grab;
}

.colorGreenSelected {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: Green;
    color: Green;
    margin-left: 5px;
    cursor: grab;
    border:5px solid paleturquoise;
}

.colorBlack {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: black;
    color: black;
    margin-left: 5px;
    cursor: grab;
}

.colorBlackSelected {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: black;
    color: black;
    margin-left: 5px;
    cursor: grab;
    border:5px solid paleturquoise;
}

.colorGray {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: grey;
    color: grey;
    margin-left: 5px;
    cursor: grab;
}

.colorGraySelected {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: grey;
    color: grey;
    margin-left: 5px;
    cursor: grab;
    border:5px solid paleturquoise;
}

.colorTan {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: tan;
    color: tan;
    margin-left: 5px;
    cursor: grab;
}

.colorTanSelected {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: tan;
    color: tan;
    margin-left: 5px;
    cursor: grab;
    border:5px solid paleturquoise;
}

.colorMaroon {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: maroon;
    color: maroon;
    margin-left: 5px;
    cursor: grab;
}

.colorMaroonSelected {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    background-color: maroon;
    color: maroon;
    margin-left: 5px;
    cursor: grab;
    border:5px solid paleturquoise;
}