body {
    TEXT-ALIGN: center;
}

html {
    height: 100%;
}
body {
    height: 100%;
}

.inputmargin {
    margin-left: 5px;
}

.title {
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 1.3;
    color: #0098d1;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    width: 100%;
    height: 500px;
    min-height: calc(100% - 50px);
}

.nav {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.route1 {
    color: peru;
    font-size: 20px;
    width: 25%;
    padding-bottom: 10px;
}

.route12 {
    color: peru;
    font-size: 30px;
    width: 25%;
    padding-bottom: 10px;
    border-bottom: 2px solid salmon;
}

.choosen {
    margin-top: 10%;
    margin-left: 25%;
    font-size: 22px;
}

.wrapping {
    margin-top: 3%;
    width: 45%;
}

.submit {
    margin-top: 50px;
    margin-left: -180px;
    width: 300px;
    height: 60px;
    background-color: orange;
    color: white;
    border-radius: 20em;
    font-size: 1.5em;
}
.submit:hover {
    background-color: #ffc06c;
}

.field {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    text-align: left;
}

.block {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.imgLeft {
    width: 48%;
}

.imgLeft img {
    margin-top: 0;
    width: 80%;
    height: 75%;
}

.modalnone {
    display: none;
    position: relative;
}

.modalon {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid #e5e5e5;
    border-radius: 0;
    outline: 0;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.back {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: orange;
    color: white;
    border-radius: 20em;
    font-size: 1.5em;
}
