
.headl {
    color:rgb(0,61,114);
    text-align: left;
    padding-left: 10%;
    font-size: 3rem;
}


@media (min-width: 0px) {
    .div_s {
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        width: 80%;
        z-index: -2;
    }
    .background_image {
        background-image: url('http://hdwarena.com/wp-content/uploads/2019/01/Beautiful-Car-Background.jpg');
        /* filter: blur(30px); */
        /* -webkit-filter: blur(25px); */
        height: 100%;
        background-repeat: repeat;
        background-size: cover;
        position: absolute;
        left:-5px;
        top:-20%;
        width: 100%;
        height: 150%;
        z-index: -12;
        opacity:0.5;
        filter:alpha(opacity=50);
        }
    
}
@media (min-width: 420px) {
    .div_s {
        font-size: 1.5em;
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        z-index: -2;
        width: 80%;
    }
    .background_image {
        background-image: url('http://hdwarena.com/wp-content/uploads/2019/01/Beautiful-Car-Background.jpg');
        /* filter: blur(30px); */
        /* -webkit-filter: blur(25px); */
        height: 100%;
        background-repeat: repeat;
        background-size: cover;
        position: absolute;
        left:-5px;
        top:-20%;
        width: 100%;
        height: 120%;
        z-index: -12;
        opacity:0.5;
        filter:alpha(opacity=50);
      }
}


.cont_block {
    box-shadow: 10px 10px 5px #4aa3d3;
    background-color: rgb(74,163,211);
    background-color: rgb(74,163,211,0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #4aa3d3;
    z-index: 2;
    padding: 20px;
    border-radius:20px;
    margin: 2%;
}
.cont_block:hover{
    /* box-shadow: 10px 10px 5px rgb(206,233,242); */
    background-color: rgb(206,233,242);
    background-color: rrgb(206,233,242,0.4);
    color: rgb(0,61,114);
    font-weight: bold;
    border: 3px solid rgb(74,163,211);
    z-index: 2;
    padding: 20px;
    border-radius:20px;
    margin: 2%;
}



  a{
    color:white;
    text-decoration: none;
  }

  a:hover {
    color:rgb(0,61,114);
  }

  div p {
      text-align: center;
  }

  