.carPic{
  width:auto;
  height:auto;
}
.CarLink{
  color: #1750A2;
  text-transform: capitalize;
  font-size: 30px;
  text-decoration: none;
  border-radius: 20px;
  border: 2px white solid;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.CarLink:hover{
  color:orange;
}
