.Logo {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    margin-left: 8%;
}
.AboutContact {
    color: green;
    font-size: 20px;
    text-align: right;
    margin-right: 12%;
}


@media (min-width: 200px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
    }
}
@media (min-width: 600px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 1000px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
@media (min-width: 1500px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 33% 33% 33%;
    }
}

.main_picture {
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.slogan {
    margin:5% auto;
    width: 1000px;
    font-size: 50px;
    color: #1750A2;
    text-align: center;
}
