.category-list {
	list-style: none;
	display: flex;
	flex-direction: row;
}
.category-image-container {
	position: relative;
	height: 10rem;
}

.category-option {
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
	margin: 1.2rem;
	height: 80%;
	padding: 0.2rem;
	font-size: 12px;
	text-align: center;
	color: black;
	text-decoration: none;
}
.category-option:focus {
	color: white;
	cursor: pointer;
}
.category-option:hover {
	color: white;
	cursor: pointer;
	border-width: thick;
}

.categoryName-overlay {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.category-image-container:hover .categoryName-overlay {
	opacity: 1;
}
.category-image-container:hover .category-option {
	opacity: 0.3;
}

.categoryName-text {
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 16px 32px;
}
@media screen and (max-width: 450px) {
	.category-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 2rem;
	}
}
@media screen and (max-width: 900px) and (min-width: 450px) {
	.category-list {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
		grid-gap: 2rem;
	}
}
