.About_part img {
	width: 60%;
	float:inherit;
	margin:2%;
  height:auto;

}
.Team_part img {
	width: 60%;
	float:inherit;
	margin:2%;
  height:auto;

}
.Careers_part img {
	width: 60%;
	float:inherit;
	margin:2%;
  height:auto;

}

.About_part p {
	padding: 1px;
  margin-left: 20%;
  background-color: #F5F5F5;
  font-size:20px;
  border:1px,solid,#F5F5F5;
  width:60%;
  height:auto;
	text-align: left;

}
.Team_part p {
	padding: 1px;
  margin-left: 20%;
  background-color: #F5F5F5;
  font-size:20px;
  border:1px,solid,#F5F5F5;
  width:60%;
  height:auto;
	text-align: left;

}
.Careers_part p {
  padding: 1px;
  margin-left: 20%;
  background-color: #F5F5F5;
  font-size:20px;
  border:1px,solid,#F5F5F5;
  width:60%;
  height:auto;
	text-align: left;
}
