.foot {
    background-image: url('http://hdwarena.com/wp-content/uploads/2019/01/Beautiful-Car-Background.jpg');  
    background-size: 100% 300%;
    height: 40rem;
    background-position: 180% 80%;
    opacity:0.8;
    filter:alpha(opacity=100);
    margin-top:10%;
    z-index: -100;
}

.logo{
    display: flex;
    flex-direction: row;
}

.list {
    padding-top:2%;
}
.listcontent {
    color: white;
    font-weight: bold;
    font-size:1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

li:hover {
    font-size: 25px;
    background: #ffc06c;
}
