/* .navbar {
    background-image: url('http://hdwarena.com/wp-content/uploads/2019/01/Beautiful-Car-Background.jpg');  
    background-size: 100% 400%;
    height: 6rem;
 
    display: flex;
    justify-content: flex-end;

} */

@media (min-width: 0px) {
  .navbar {
    background-image: url('http://hdwarena.com/wp-content/uploads/2019/01/Beautiful-Car-Background.jpg');  
    background-size: 100% 400%;
    height: 15rem;
  }
  .boxes {
    border: 2px solid orange;
    background-color: orange;
    border-radius: 30px/20px;
    height: 4rem;
    margin-top: 5px;
    margin-bottom: auto;
    margin-right:10px;

  }
}
@media (min-width: 420px) {
  .navbar {
    background-image: url('http://hdwarena.com/wp-content/uploads/2019/01/Beautiful-Car-Background.jpg');  
    background-size: 100% 400%;
    height: 8rem;
    display: flex;
    justify-content: flex-end;
  }
  .boxes {
    border: 2px solid orange;
    background-color: orange;
    border-radius: 30px/20px;
    height: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:10px;
  }
}


.logo {
    text-decoration: none;
    color:rgb(58,107,176);
    margin-right:auto;
    font-size: 2.5em;
    padding-left:20px;
    font-weight:bold;
    margin-top: auto;
    margin-bottom: auto;

}


.products {
    font-size:1.8em;
    color: rgb(58,107,176);
    padding-left: 10px;
    padding-right:10px;  
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin:auto;
}

.products:hover {
    color:white;
}

.button {
    font-size:1.8em;
    color: rgb(58,107,176);
    padding-left: 10px;
    padding-right:10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin:auto;

  }
  .button:hover {
    color:white;
  }

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
    transition: all 3s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: orange;
  }
  .popup .content {
    max-height: 60%;
    overflow: auto;
  }
  
  .vpdiv{
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 700px){
    .box{
      width: 100%;
    }
    .popup{
      width: 100%;
    }
  }